



    






 
 
 


                  
 


 

         

    

   
          



    
    
.is-hidden{
    
    opacity: 0;
    pointer-events: none;
    }
  
    
   
    .check-text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: #757575;
 align-items: center;
display: flex;
justify-content: center;
    }
    .check-text::before{
content: "";
width: 16px;
height: 16px;
border-radius: 2px;
margin-right: 8px ;
border: 2px solid #212121 ;
    }
    
  
    .label-text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: #2196F3;
        margin-left: 4px;
    }
   
    .email-title{
        font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: #FFFFFF;

margin-bottom: 20px;
    }
    
    
   
.email-btn{
    position: absolute;
    
    width: 200px;
    height: 50px;
    background: #2196F3;
    border-radius: 4px;
    font-weight: 700;
font-size: 16px;
line-height: 1.88;
padding: 10px 62px 10px 29px;
color: #FFFFFF;
border: none;
margin-left: 12px;
}
.email-icon{
   
    position:relative ;
  
left: 148px;
top: 10px;
fill: #FFFFFF;
margin-left: 10px;


  
}
