.footer-link
{
 font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
color:rgba(255, 255, 255, 0.6);
}


.footer, .footer-two
{
padding-bottom: 60px;
padding-top: 60px;
    background: #2F303A;

}
.footer-two-address{
    margin-top: 20px;
}
.footer-address{
    margin-top: 20px;
    font-style: normal;
}
   
.footer-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--title-color) ; 
color:#FFFFFF ;
}
 .footer-item{
     margin-bottom: 9px;
     font-style: normal;
     
 }
 .footer-item:last-child{
    margin: 0;
}
.footer-item-links{
    width: 44px;
    height: 44px;
        margin-right: 10px;}
        
        .footer-item-links:last-child{
            margin-right: 0px;
        }
        .footer-list-links{
            display: flex;
     
         }
.footer-two .container
{
  display: flex;
  align-items: baseline;
}
.footer .container
{
  display: flex;
  align-items: baseline;
}
.footer-icon{
 margin-left: 70px; 
 
}
.footer-title{
    margin-bottom: 20px;
   
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;

}
.footer .container{
    display: flex;
}
    






 /* footer-two */
.footer-two-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
margin-top: 444px;
color:#FFFFFF ;
padding-left: 0px;
}
.footer-two-link
{
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
color:rgba(255, 255, 255, 0.6);
}

.footer-two-item{
margin-bottom: 9px;
font-style: normal;

}
.footer-two-item:last-child{
margin: 0;
}

.footer-two-links{
color:#FFFFFF;
}
.footer-links{
color:#FFFFFF; 
}
.footer-email{
 
    display: flex;
   margin-left: 105px;
  
}
